[package]
name = "netdev"
version = "0.33.0"
authors = ["shellrow <shellrow@fortnium.com>"]
edition = "2021"
description = "Cross-platform library for network interface"
repository = "https://github.com/shellrow/netdev"
readme = "README.md"
keywords = ["network"]
categories = ["network-programming"]
license = "MIT"

[dependencies]
serde = { version = "1", features = ["derive"], optional = true }
ipnet = { version = "2.10" }

[target.'cfg(unix)'.dependencies]
libc = "0.2"

[target.'cfg(target_os = "android")'.dependencies]
# DL Open
dlopen2 = { version = "0.5", default-features = false }
once_cell = "1"
# netlink
netlink-packet-core = "0.7"
netlink-packet-route = "0.21"
netlink-sys = "0.8"

[target.'cfg(windows)'.dependencies.windows-sys]
version = "0.59"
features = ["Win32_Foundation", "Win32_NetworkManagement_IpHelper", "Win32_Networking_WinSock", "Win32_NetworkManagement_Ndis"]

[target.'cfg(any(target_os = "macos", target_os = "ios"))'.dependencies]
system-configuration = "0.6"

[dev-dependencies]
serde_json = "1.0"

[features]
serde = ["dep:serde", "ipnet/serde"]

[[example]]
name = "list_interfaces"
path = "examples/list_interfaces.rs"

[[example]]
name = "default_interface"
path = "examples/default_interface.rs"

[[example]]
name = "default_gateway"
path = "examples/default_gateway.rs"

[[example]]
name = "serialize"
path = "examples/serialize.rs"
required-features = ["serde"]
